.carousel-container {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    height: 60%;
}

.card {
    margin-bottom: 5%;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255, 255, 255);
    color: #000000;
    height: 95%;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    height: 45%;
    margin: auto;
}

.header img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.org-title {
    margin-top: 10%;
    color: rgb(69, 82, 230);
    font-size: calc(0.7vw + 0.6vh);
    text-align: left;
    padding-left: 10%;
}

.club-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.club-name {
    font-size: calc(1.1vw + 1vh);
    text-wrap: balance;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 10%;
    margin: 0;
}

.club-desc {
    font-size: calc(0.75vw + 0.75vh);
    text-wrap: balance;
    text-align: left;
    padding-left: 10%;
}

.slick-slide > div {
    margin: 0 10px;
}