.bigcontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: fixed;
}

.content {
    color: white;
    width: 50%;
    padding: 20px 40px;
    min-height: 100%;
}

p {
    font-size: 23px;
}

.plain p {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: calc(1vw + 1vh);
}

.pcontainer {
    height: 30%;
}

.align-right {
    width: 35%;
    float: right;
}

.accent p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: calc(1vw + 1vh);
    color: #e5e7e7;
    font-weight: 100;
}

.shorthr {
    border: 2px solid rgb(213, 52, 52);
    border-radius: 5px;
    margin: 5% 40% 5% 40%;
}

.accent {
    width: 50%;
    background-color: rgb(55, 53, 166);
}

.accent h1 {
    padding: 5vh 0 0 0;
    width: 90%;
    font-size: 14vh;
    font-weight: 800;
    margin: auto;
    margin-top: 1vh;
}

.outline {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: rgba(0, 0, 0, 0);
}

.plain {
    text-align: center;
    color: black;
}

.content > ul {
    list-style-type: none;
}