* {margin: 0.5em 0;}
a {
    text-decoration: none;
    transition: color 0.25s;
}
a:link {color: #0FF;}
a:visited {color: #808080;}
a:hover, a:focus {color: #FF0;}
a:focus > .logo, :focus {outline: #F00 2px solid;}
a:active {color: #F00;}
body {
    animation: appear 0.5s 1 forwards;
    background-color: #000;
    color: #FFF;
    left: 0;
    margin: 0 24%;
    min-height: 100%;
    opacity: 0;
    outline: #FFF 5px solid;
    padding: 0 1%;
    position: absolute;
    top: 0;
    width: 50%;
}
/* .credits {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translate(25%, -25%);
} */ /* mwehehe */
h1, h2, small {text-transform: uppercase;}
html {
    animation: subtle 60s infinite;
    font-family: Consolas, Monaco, Monospace;
/*    background: #0f0;*/ /*property for testing*/
}
img {user-select: none;}
@keyframes appear {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes subtle {
    0% {background: #000;}
    10% {background: #200000}
    20% {background: #000;} 
    30% {background: #202000}
    40% {background: #000;}
    50% {background: #002000}
    60% {background: #000;}
    70% {background: #000020}
    80% {background: #000;}
    90% {background: #200020}
    100% {background: #000;}
}
.logo {
    bottom: 10px;
    height: 50px;
    margin: 0;
    position: absolute;
    right: 10px;
    width: 50px;
    transition: background 0.25s;
}
a:link > .logo {background: #0FF;}
a:visited > .logo {background: #808080;}
a:hover > .logo, a:focus > .logo {background: #FF0;}
a:active > .logo {background: #F00;}
ul {list-style-type: "- "}
