* {margin: 0.5em 0}
a {
    text-decoration: none;
    transition: color 0.25s;
}
a:link {color: #0FF}
a:visited {color: #808080}
a:hover, a:focus {color: #FF0}
a:active {color: #F00}
body {
    background-color: #000;
    color: #FFF;
    left: 0;
    margin: 0 23%;
    min-height: 100%;
    outline: #FFF 5px solid;
    padding: 0 1%;
    position: absolute;
    top: 0;
}
:focus {outline: #F00 2px solid}
h1, h2 {text-transform: uppercase}
html {
    font-family: Consolas, Monaco, Monospace;
    /*background: #0f0;*/ /*property for testing*/
}
img.logo {
    bottom: 0%;
    margin: 0;
    position: fixed;
    right: 0%;
    transform: translate(-25%, -25%);
    transition: background 0.25s;
}
a:link > .logo {background: #0FF}
a:visited > .logo {background: #808080}
a:hover > .logo, a:focus > .logo {background: #FF0}
a:active > .logo {background: #F00}
ul {list-style-type: "- "}
