.carousel-container {
    width: 80%;
    margin: auto;
    height: 40%;
}

.card {
    background-color: rgb(37, 34, 34);
    color: #ebebeb;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.header {
    background-color: rgb(55, 53, 166);
    height: 20%;
    margin: auto;
}

.club-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.club-name {
    font-size: 1.3vw;
    text-align: center;
    padding-top: 14;
    margin: 0;
}

.club-desc {
    margin: 10%;
    font-size: 1em;
}

.club-bttn {
    background-color: rgb(213, 52, 52);
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 10px;
    border: 0;
    width: 60%;
    height: 40px;
    margin: auto;
}

.slick-slide > div {
    margin: 0 10px;
}